clusters {
  cluster {
    id: 0
    server {
      id: 0
      host: "localhost"
      port: 4306
    }
    server {
      id: 1
      host: "localhost"
      port: 4406
    }
  }
}
dispatchers {
  dispatcher {
    cluster_id: 0
    server {
      id: 0
      host: "localhost"
      port: 5555
    }
  }
}
